<div class="main-sub-left">
  <%= image_tag("background_images/master.jpg") %>
  <div class="homepage-img-caption"> <strong>Master CVV  <br/>   Founder of the Raaja Yoga </strong> </div>
  <%= image_tag("background_images/master MN.png") %>
  <div class="homepage-img-caption"><strong>Master MN <br/> Follower of CVV </strong>  </div>

</div>
<div class="main-sub-right">
    <%= image_tag("background_images/mother.jpeg") %>
    <div class="homepage-img-caption"><strong>Mother CV <br/> Wife of CVV</strong>    </div>
  <%= image_tag("background_images/masterMBS.png") %>
  <div class="homepage-img-caption"><strong>Master MBS <br/> Follower of MN</strong>    </div>
</div>
<div class="main-content">

<p id="notice">	<%= notice %></p>


  <h1>What is Briktha Rahitha Taraka Raja Yoga?  </h1>
  <p>

  Briktha Rahitha Taraka Raja Yoga is a spiritual exercise that is beyond all religions that are

  established over the centuries. One should have a determined ambition to realize and become

  perfect being (Brahmam) by practicing this yoga. This yoga was established for the benefit of

  humanity and gives an opportunity to the individuals to transform themselves to divinity. More..

  The Universe (or cosmos) is now undergoing transformation built with following principles:

  <p class="sub">• Figure change -  Rebirth            </p>

  <p class="sub">• Periodicity – Number of Births     </p>

  <p class="sub">• Changeability – Stages of growth    </p>

  <p class="sub">• Decay - decomposition               </p>

  The above principles will not lead individuals to eternity. Hence, new direct line principles are

  introduced by Master C.V.V. in 1910. These principles define a new connection to the Individual

  from his Highest source, a form between Super soul and individual.  This can build a permanent

  unchangeable Human form without decay and figure change with merry life.  To achieve this

  new direct line activity results the practioners need lifelong commitment with the following  four

  qualities along with prescribed allotted procedure.

  <p class="sub"> 1. Punctuality  </p>

  <p class="sub"> 2. Sincerity  </p>

  <p class="sub"> 3. Obedience  </p>

  <p class="sub"> 4. Regularity </p>

  <%= link_to 'More..', rule1_path %>
  </p>


  <h2> Aim of Briktha Rahitha Tharaka Raja yoga   </h2>

  <p>This yoga is a bridge to introduce a NEW LIFE PRINCIPLE or Highest Self Consciousness

  into the human system so that additional new line of activity is open to the follower. The self

  consciousness, prana or creative force that is introduced by the NEW YOGA comes from its

  Highest source. This prana or creative force unfettered by the restrictions to which the cosmic

  evolution is subjected. It bores through and works its way unmolested by and unmolesting the

  cosmic evolution.          </p>

 <p> Prana or self consciousness derived from the Highest source creates its own sukshma (finest) and

  evolves MAN FORM to a degree of fineness which is impossible to reach by ordinary evolution.

  The NEW LIFE PRINCIPLE makes possible the continuity of conscious with no interruption

  throughout all ranges of cosmic existence and not getting into Samadhi state (a state mind

  becomes still and in unconscious). This yoga is the introduction of a NEW LIFE PRINCIPLE

  into the human system so that an additional new line of activity is open to the follower to realize

  the Brahmam, the cause of His existence.


    <%= link_to 'More..', rule2_path %> </p>



  <h3> To Follow Briktha Rahitha Tharaka Raja yoga   </h3>

      <p><b>  <big> One should get initiation from a lead of a yoga school</big>   </b></p>


  <b> What is initiation?</b>

  <p>      Initiation is a process of introduction of a new life wave in to the kundalini. This process will be undertaken through a special
    sitting of practice along with the physical master, lead at a yoga school. After initiation, the disciple's inner responds to principle of notions.
    This is called working. This can be observed in conscience.

  </p>

  <b> To get initiation contact Piduguralla Yoga school </b>

  <p>Satya Yoga Saadhaka Mandali <br/>
    Piduguralla yoga school friends society <br/>
    Piduguralla 522413, A.P. India. <br/>
    Guide (lead) :J.Narayana Murthy <br/>
   <%= link_to ' Contact for Initiation', new_email_path %>
                              </p>

  <b> After getting initiation one should follow the following instructions</b>

  <p class="indent">  One should not be addicted to intoxicants, drinks etc,.      </p>

  <p class="indent">  One should be only a vegetarian.          </p>


  <%= link_to 'More..', rule3_path %> </p>



</div>
