<div class="main-content">
  <% @page_title = "Change Password "%>
  <%= form_tag :action => 'change_password' do %>

      <div>
        <label for="username">Username:          </label>
        <%= text_field_tag :username, params[:username] %>
      </div>
                    <br/>
      <div>
        <label for="Password">Password:          </label>
        <%= password_field_tag :password, params[:password] %>
      </div>
                   <br/>
      <div>
        <label for="Confirm Password">Confirm Password:          </label>
        <%= password_field_tag :confirm_password, params[:confirm_password] %>
      </div>
                 <br/>

      <%= submit_tag 'Change' %>

  <% end %>


</div>