<%= form_for(@schedule, :url=>{:action => 'create',:controller=>'schedules',:id=>params[:id],:date => params[:date]}) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :event_id %>
    <%= f.hidden_field :date %>
   <!-- <% f.label :date %>
    <% f.select :date, options_for_select(Schedule:: Schedule.get_event_dates(params[:id])) %>  </br> </br>   -->
    <%= f.label :title %>
    <%= f.text_field :title %>  </br> <br/>

    <%= f.label :start_Time %><br />
    <%= f.time_select(:start_time, :ampm => true) %>
   </br>  <br/>

    <%= f.label :end_Time %><br />
    <%= f.time_select(:end_time, :ampm => true) %> </br> <br/>

   <% if @event.event_type.to_s == 'Regular' %>
        <div class="field">
            <%= f.label :next_event %><br/>
            <%= f.select :next_event,options_for_select(Schedule::REPEAT) %>
        </div>
   <% end %>   <br/><br>

    <%= f.submit 'Add Schedule' %>


  </div>
<% end %>
