<div class="header-breadcrumbs">
  <%= link_to 'Home',homepages_path %> > <%= link_to 'MyPage',mypage_path(session[:user_id]) %> > <%= 'List of Saadhakas With A Guide' %>

</div>
<div class="main-content">
  <p id="notice"> <%=  notice %> </p>

    <h2> List of Saadhakas with Guide '<%= @guide.firstname %>'<%=image_tag @guide.photo, :class=>'img-icon' %></h2>
  <table>
    <tr>

      <th>Picture </th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Username</th>
      <th>Courses been Doing</th>
      <th>Assign a Course</th>
      <th> Assign a Role</th>
     </tr>

    <% @saadhakas.each do |user| %>
        <tr>
          <% @user = User.user.user_id %>

          <% if @user.present?  %>

              <td><%= link_to image_tag(@user.photo, :class =>'img-icon'),@user %></td>
              <td><%= link_to @user.firstname, @user %></td>
              <td><%= @user.lastname %></td>
              <td><%= @user.username %></td>
              <td><%= link_to 'courses doing', courses_by_saadhaka_path(@user.id) %></td>
              <td><%= link_to 'Assign a Course',assign_a_course_to_saadhaka_path(@user.id) %></td>
              <td><%= link_to Role.find(user.role_id).name, edit_userrole_path(@user.id) %></td>
          <% else  %>

          <% end %>

        </tr>
    <% end %>
  </table>


</div>
