<div class="header-breadcrumbs">
  <%= link_to 'Home',homepages_path %> > <%=link_to 'My Page', mypage_homepages_path(session[:user_id]) %> > <%= link_to 'Magazines',latest_telugu_english_magazines_path %> >
  <%= 'My Magazines' %>
</div>
<div class="leftbar">
  <% render 'magazine_options' %>

</div>


<div class="main-content">
  <p id="notice"><%= notice %></p>
  <h2>List of all <%=session[:username] %>'s Magazines</h2>
 <% if @magazines.length == 0    %>
      <p> Sorry!You have no Magazines uploaded</p>
 <%end%>
  <% @magazines.each do |m| %>
      <div class="mag-each">
        <p><%= m.title %></p>
        <p><%= m.languagewritten %></p>
        <div class="medium-img">
          <%= link_to image_tag(m.coverpageimage,:class=>'medium-img'), reading_magazine_path(m.id) %>
        </div>
        <p><%= Magazine.get_month(m.month) %> / <%= m.year %></p>
        <p> <% if session[:user_id] == m.owner || session[:privilage] ==1 %>
              <%= link_to 'Edit',edit_magazine_path(m.id) %> |
              <%= link_to 'Delete',m,method: :delete,:id=> m.id, data: { confirm: 'Are you sure You want to delete the Magazine?' } %>
             <% end %> </p>
      </div>

  <% end %>
  <% if session[:user_id] && session[:privilage] <= 2 %>
      <div class="links"> <h4><%= link_to 'Add New Magazine', new_magazine_path %> </h4> </div>
  <% end %>
</div>