<% if @special_events %>
<% @special_events.each do |event| %>

      <div class="blogger_section" style="padding-top: 5px;">
        <div><%= image_tag("background_images/events_star.jpeg",:class =>'img-icon') %></div>
        Event:<span class="blogger_name"><%=link_to event.name, event %></span>   <br/>

        Venue: <span class="blogger_date"><%= event.location %></span> <br/>
        Start Date: <span><%= event.starttime.to_date%></span> <br/>
        End Date: <span><%= event.endtime.to_date %></span>  <br/>
        <div><p><%= event.description %></p></div>
        <div class="rc_btn_02"><%= link_to 'Add A Comment',new_event_comment_path(event.id) %></div>
        <div id="display-add-comment">  </div>
      </div>
        <div class="margin_bottom_20"></div>

        <!-- Bottom  border line to divide each event except the last one -->
        <% if event != @special_events.last %>
            <div class="margin_bottom_20 border_bottom"></div>

        <%end%>
<% end %>
    <%= will_paginate @special_events  %>
 <%end%>