<div class="header-breadcrumbs">
  <%= link_to 'Home',homepages_path %> > <%= link_to'Roles', roles_path %> > <%= 'Add A New Role' %>

</div>
<div class="main-content">
  <p id="notice"><%= notice %></p>
<h2>Add A New Role</h2>

<%= render 'form' %>

<%= link_to 'Back', roles_path %>

</div>