<div class="header-breadcrumbs">
  <%= link_to 'Home',homepages_path %> > <%= link_to'Courses', courses_path %> > <%= 'Assign A Course' %>

</div>
<div class="main-content">
  <p id="notice"><%= notice %></p>
<h2> Assign '<%= @course.name %>' Course To A Saadhaka</h2>

<%= render 'form' %>

<%= link_to 'Back', courses_path %>
</div>